{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div>
    <h1>Commentater</h1>
    <div class="desc">peeling through your worlds for comments you haven't responded to</div>
    {% if logged_in %}
    <ul>
    {% for world in worlds %}
        <li><a href="/world/{{ world.id }}">{{ world.name }}</a></li>
    {% endfor %}
    </ul>
    <form method="post" action="/">
        <button type="submit">Refresh worlds</button>
    </form>
    {% else %}
    <a class="buttony" href="/login">Login to start.</a>
    {% endif %}
</div>
{% endblock %}
