{% extends "base.html" %}
{% block header %}
<style>
    th, td {
        border: 1px solid black;
        padding: 0.4rem 0.5rem;
    }
</style>
{% endblock %}
{% block body %}
<div>
    <h1>{{ world.name }}</h1>
    <div><a href="/">Back to world overview</a></div>
    <form action="/world/{{ world.id }}/fetch_articles">
        <label for="refetch">Fetch list of articles. Please use sparingly.</label>
        <button id="refetch">Fetch</button>
    </form>
    <form action="/world/{{ world.id }}/queue_all">
        <label for="queue_all">Queue all articles for update</label>
        <button id="queue_all">Queue all</button>
    </form>
    <table style="border-collapse: collapse;">
        <tr>
            <th>Name</th>
            <th>Last checked</th>
            <th>Status</th>
            <th>Unanswered comments</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td><a href="/world/{{ world.id }}/article/{{ article.article_id }}">{{ article.title }}</a></td>
            <td>{{ article.last_checked }}</td>
            <td>
                {% if article.status %}
                    {% if article.status.error == true %}
                    <span style="color: red">Error: {{ article.status.error_msg }}</span>
                    {% elif article.status.done %}
                    Checked
                    {% else %}
                    Queued
                    {% endif %}
                {% else %}
                Unknown
                {% endif %}
            </td>
            <td>{{ article.unanswered_comments }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
