{% extends "base.html" %}
{% block body %}
<div>
    {% if error %}
    <div>Something went wrong with the login: {{ error }}</div>
    {% endif %}
    <form action="/login" method="post">
        <h1>Commentater</h1>
        <h2>Login with your WorldAnvil API key!</h2>
        <p>Note that it is <em>highly recommended</em> to create a new API key for each application.</p>
        <label for="api_key">API Key</label>
        <input type="password" name="api_key" id="api_key" />
        <button>Login</button>
    </form>
</div>
{% endblock %}
